In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_df = pd.read_csv('../data/raw/train.csv')
breeds_df = pd.read_csv('../data/raw/breed_labels.csv')
color_df = pd.read_csv('../data/raw/color_labels.csv')
state_df = pd.read_csv('../data/raw/state_labels.csv')

# Training Initial EDA

In [3]:
train_df.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,1,Miko,4,307,0,2,1,2,0,2,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2

In [4]:
train_df.dtypes

Type               int64
Name              object
Age                int64
Breed1             int64
Breed2             int64
Gender             int64
Color1             int64
Color2             int64
Color3             int64
MaturitySize       int64
FurLength          int64
Vaccinated         int64
Dewormed           int64
Sterilized         int64
Health             int64
Quantity           int64
Fee                int64
State              int64
RescuerID         object
VideoAmt           int64
Description       object
PetID             object
PhotoAmt         float64
AdoptionSpeed      int64
dtype: object

#### Datatypes look correct for what we know of the data so far.  Nothing stands out that needs to be dealt with immediately.

In [5]:
train_df.shape

(14993, 24)

In [6]:
train_df.isnull().sum()

Type                0
Name             1257
Age                 0
Breed1              0
Breed2              0
Gender              0
Color1              0
Color2              0
Color3              0
MaturitySize        0
FurLength           0
Vaccinated          0
Dewormed            0
Sterilized          0
Health              0
Quantity            0
Fee                 0
State               0
RescuerID           0
VideoAmt            0
Description        12
PetID               0
PhotoAmt            0
AdoptionSpeed       0
dtype: int64

#### Null values are fairly minimal.  We will deal with nulls once we have our final dataset merged together.

In [7]:
train_df.describe()

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,VideoAmt,PhotoAmt,AdoptionSpeed
count,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000
mean,1.457614,10.452078,265.272594,74.009738,1.776162,2.234176,3.222837,1.882012,1.862002,1.467485,1.731208,1.558727,1.914227,1.036617,1.576069,21.259988,41346.028347,0.056760,3.889215,2.516441
std,0.498217,18.155790,60.056818,123.011575,0.681592,1.745225,2.742562,2.984086,0.547959,0.599070,0.667649,0.695817,0.566172,0.199535,1.472477,78.414548,32.444153,0.346185,3.487810,1.177265
min,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,41324.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,265.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,41326.000000,0.000000,2.000000,2.000000
50%,1.000000,3.000000,266.000000,0.000000,2.000000,2.000000,2.000000,0.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,0.000000,41326.000000,0.000000,3.000000,2.000000
75%,2.000000,12.000000,307.000000,179.000000,2.000000,3.000000,6.000000,5.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,0.000000,41401.000000,0.000000,5.000000,4.000000
max,2.000000,255.000000,307.000000,307.000000,3.000000,7.000000,7.000000,7.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,20.000000,3000.000000,41415.000000,8.000000,30.000000,4.000000

#### There are some interesting data points that we will need to better understand.  The max age of 255 seems like a data entry issue/outlier.  It looks like most of the integer columns are just categorical designations for the variables (Color, Maturity, FurLength, etc.).   There are some other outliers in Quantity and Fee that we will also need to look in to.

In [8]:
train_df[train_df.Age > 15].PetID.count()

2587

In [ ]:
train_df['Age'].plot(kind = 'bar')

#### There seems to be a lot of records where age is greater than 15.  That seems unlikely as the average lifespan for a dog or cat is 13 to 16 years.  Maybe some pet's age is recorded in months?  These are records that will need to be dealt with.

In [10]:
train_df.nunique()

Type                 2
Name              9060
Age                106
Breed1             176
Breed2             135
Gender               3
Color1               7
Color2               7
Color3               6
MaturitySize         4
FurLength            3
Vaccinated           3
Dewormed             3
Sterilized           3
Health               3
Quantity            19
Fee                 74
State               14
RescuerID         5595
VideoAmt             9
Description      14032
PetID            14993
PhotoAmt            31
AdoptionSpeed        5
dtype: int64

In [11]:
train_df.Gender.unique()

array([1, 2, 3])

In [12]:
train_df.groupby(by = ['Gender']).PetID.count()

Gender
1    5536
2    7277
3    2180
Name: PetID, dtype: int64

#### I'm unsure why there are 3 unique values for Gender and it looks like we have a decent amount of pets in each category.  We will need to understand what the values stand for.  Possibly an unknown category?

# Breed Data Initial EDA

In [13]:
breeds_df.head()

   BreedID  Type         BreedName
0        1     1     Affenpinscher
1        2     1      Afghan Hound
2        3     1  Airedale Terrier
3        4     1            Akbash
4        5     1             Akita

In [14]:
breeds_df.dtypes

BreedID       int64
Type          int64
BreedName    object
dtype: object

In [15]:
breeds_df.isnull().sum()

BreedID      0
Type         0
BreedName    0
dtype: int64

In [16]:
breeds_df.shape

(307, 3)

In [17]:
breeds_df.nunique()

BreedID      307
Type           2
BreedName    307
dtype: int64

In [18]:
breeds_df[breeds_df.Type == 2].head()

     BreedID  Type           BreedName
241      241     2          Abyssinian
242      242     2       American Curl
243      243     2  American Shorthair
244      244     2   American Wirehair
245      245     2   Applehead Siamese

#### It looks like breed type 2 is a cat and type 1 is a dog ^^^^^^

# Color Data Initial EDA

In [19]:
color_df.head()

   ColorID ColorName
0        1     Black
1        2     Brown
2        3    Golden
3        4    Yellow
4        5     Cream

In [20]:
color_df.dtypes

ColorID       int64
ColorName    object
dtype: object

In [21]:
color_df.shape

(7, 2)

In [22]:
color_df.isnull().sum()

ColorID      0
ColorName    0
dtype: int64

# State Data Initial EDA

In [23]:
state_df.head()

   StateID     StateName
0    41336         Johor
1    41325         Kedah
2    41367      Kelantan
3    41401  Kuala Lumpur
4    41415        Labuan

In [24]:
state_df.dtypes

StateID       int64
StateName    object
dtype: object

In [25]:
state_df.shape

(15, 2)

In [26]:
state_df.isnull().sum()

StateID      0
StateName    0
dtype: int64

# Merge Datasets

In [27]:
add_breed_df = train_df.merge(breeds_df,how = 'left', left_on='Breed1', right_on='BreedID',suffixes=('_left_Breed1', '_right_Breed1'))

In [28]:
add_breed_df.head()

,Type_left_Breed1,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,BreedID,Type_right_Breed1,BreedName
0,2,Nibble,3,299,0,1,1,7,0,1,...,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,299.0,2.0,Tabby
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,265.0,2.0,Domestic Medium Hair
2,1,Brisco,1,307,0,1,2,7,0,2,...,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,307.0,1.0,Mixed Breed
3,1,Miko,4,307,0,2,1,2,0,2,...,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,307.0,1.0,Mixed Breed
4,1,Hunter,1,307,0,1,1,0,0,2,...,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,307.0,1.0,Mixed Breed

In [29]:
add_breed_df.isnull().sum()

Type_left_Breed1        0
Name                 1257
Age                     0
Breed1                  0
Breed2                  0
Gender                  0
Color1                  0
Color2                  0
Color3                  0
MaturitySize            0
FurLength               0
Vaccinated              0
Dewormed                0
Sterilized              0
Health                  0
Quantity                0
Fee                     0
State                   0
RescuerID               0
VideoAmt                0
Description            12
PetID                   0
PhotoAmt                0
AdoptionSpeed           0
BreedID                 5
Type_right_Breed1       5
BreedName               5
dtype: int64

In [30]:
add_breed_df.drop(['Type_right_Breed1', 'BreedID'], axis=1,inplace = True)

In [31]:
add_breed_df.rename(columns = {'BreedName':'breed1_name'},inplace = True)

In [32]:
add_breed_df.dtypes

Type_left_Breed1      int64
Name                 object
Age                   int64
Breed1                int64
Breed2                int64
Gender                int64
Color1                int64
Color2                int64
Color3                int64
MaturitySize          int64
FurLength             int64
Vaccinated            int64
Dewormed              int64
Sterilized            int64
Health                int64
Quantity              int64
Fee                   int64
State                 int64
RescuerID            object
VideoAmt              int64
Description          object
PetID                object
PhotoAmt            float64
AdoptionSpeed         int64
breed1_name          object
dtype: object

In [33]:
lower_cols = []
for x,i in enumerate(add_breed_df.columns):
    lower_cols.append(add_breed_df.columns[x].lower())

In [34]:
add_breed_df.columns = lower_cols

In [35]:
add_breed_df = add_breed_df.merge(breeds_df,how = 'left', left_on='breed2', right_on='BreedID',suffixes=('_left_Breed2', '_right_Breed2'))

In [36]:
add_breed_df.dtypes

type_left_breed1      int64
name                 object
age                   int64
breed1                int64
breed2                int64
gender                int64
color1                int64
color2                int64
color3                int64
maturitysize          int64
furlength             int64
vaccinated            int64
dewormed              int64
sterilized            int64
health                int64
quantity              int64
fee                   int64
state                 int64
rescuerid            object
videoamt              int64
description          object
petid                object
photoamt            float64
adoptionspeed         int64
breed1_name          object
BreedID             float64
Type                float64
BreedName            object
dtype: object

In [37]:
add_breed_df.isnull().sum()

type_left_breed1        0
name                 1257
age                     0
breed1                  0
breed2                  0
gender                  0
color1                  0
color2                  0
color3                  0
maturitysize            0
furlength               0
vaccinated              0
dewormed                0
sterilized              0
health                  0
quantity                0
fee                     0
state                   0
rescuerid               0
videoamt                0
description            12
petid                   0
photoamt                0
adoptionspeed           0
breed1_name             5
BreedID             10762
Type                10762
BreedName           10762
dtype: int64

In [38]:
add_breed_df.drop(['Type', 'BreedID'], axis=1,inplace = True)
add_breed_df.rename(columns = {'BreedName':'breed2_name'},inplace = True)

In [39]:
add_breed_df.columns

Index(['type_left_breed1', 'name', 'age', 'breed1', 'breed2', 'gender',
       'color1', 'color2', 'color3', 'maturitysize', 'furlength', 'vaccinated',
       'dewormed', 'sterilized', 'health', 'quantity', 'fee', 'state',
       'rescuerid', 'videoamt', 'description', 'petid', 'photoamt',
       'adoptionspeed', 'breed1_name', 'breed2_name'],
      dtype='object')

In [40]:
add_color_df = add_breed_df.merge(color_df,how = 'left', left_on='color1', right_on='ColorID',suffixes=('_left_color1', '_right_color1'))

In [41]:
add_color_df.dtypes

type_left_breed1      int64
name                 object
age                   int64
breed1                int64
breed2                int64
gender                int64
color1                int64
color2                int64
color3                int64
maturitysize          int64
furlength             int64
vaccinated            int64
dewormed              int64
sterilized            int64
health                int64
quantity              int64
fee                   int64
state                 int64
rescuerid            object
videoamt              int64
description          object
petid                object
photoamt            float64
adoptionspeed         int64
breed1_name          object
breed2_name          object
ColorID               int64
ColorName            object
dtype: object

In [42]:
add_color_df.drop(['ColorID'], axis=1,inplace = True)
add_color_df.rename(columns = {'ColorName':'color1_name'},inplace = True)

In [43]:
add_color_df.isnull().sum()

type_left_breed1        0
name                 1257
age                     0
breed1                  0
breed2                  0
gender                  0
color1                  0
color2                  0
color3                  0
maturitysize            0
furlength               0
vaccinated              0
dewormed                0
sterilized              0
health                  0
quantity                0
fee                     0
state                   0
rescuerid               0
videoamt                0
description            12
petid                   0
photoamt                0
adoptionspeed           0
breed1_name             5
breed2_name         10762
color1_name             0
dtype: int64

In [44]:
add_color_df = add_color_df.merge(color_df,how = 'left', left_on='color2', right_on='ColorID',suffixes=('_left_color2', '_right_color2'))

In [45]:
add_color_df.dtypes

type_left_breed1      int64
name                 object
age                   int64
breed1                int64
breed2                int64
gender                int64
color1                int64
color2                int64
color3                int64
maturitysize          int64
furlength             int64
vaccinated            int64
dewormed              int64
sterilized            int64
health                int64
quantity              int64
fee                   int64
state                 int64
rescuerid            object
videoamt              int64
description          object
petid                object
photoamt            float64
adoptionspeed         int64
breed1_name          object
breed2_name          object
color1_name          object
ColorID             float64
ColorName            object
dtype: object

In [46]:
add_color_df.drop(['ColorID'], axis=1,inplace = True)
add_color_df.rename(columns = {'ColorName':'color2_name'},inplace = True)

In [47]:
add_color_df.isnull().sum()

type_left_breed1        0
name                 1257
age                     0
breed1                  0
breed2                  0
gender                  0
color1                  0
color2                  0
color3                  0
maturitysize            0
furlength               0
vaccinated              0
dewormed                0
sterilized              0
health                  0
quantity                0
fee                     0
state                   0
rescuerid               0
videoamt                0
description            12
petid                   0
photoamt                0
adoptionspeed           0
breed1_name             5
breed2_name         10762
color1_name             0
color2_name          4471
dtype: int64

In [48]:
add_color_df = add_color_df.merge(color_df,how = 'left', left_on='color3', right_on='ColorID',suffixes=('_left_color3', '_right_color3'))

In [49]:
add_color_df.drop(['ColorID'], axis=1,inplace = True)
add_color_df.rename(columns = {'ColorName':'color3_name'},inplace = True)

In [50]:
add_color_df.isnull().sum()

type_left_breed1        0
name                 1257
age                     0
breed1                  0
breed2                  0
gender                  0
color1                  0
color2                  0
color3                  0
maturitysize            0
furlength               0
vaccinated              0
dewormed                0
sterilized              0
health                  0
quantity                0
fee                     0
state                   0
rescuerid               0
videoamt                0
description            12
petid                   0
photoamt                0
adoptionspeed           0
breed1_name             5
breed2_name         10762
color1_name             0
color2_name          4471
color3_name         10604
dtype: int64

In [51]:
add_state_df = add_color_df.merge(state_df,how = 'left', left_on='state', right_on='StateID',suffixes=('_left_state', '_right_state'))

In [52]:
add_state_df.dtypes

type_left_breed1      int64
name                 object
age                   int64
breed1                int64
breed2                int64
gender                int64
color1                int64
color2                int64
color3                int64
maturitysize          int64
furlength             int64
vaccinated            int64
dewormed              int64
sterilized            int64
health                int64
quantity              int64
fee                   int64
state                 int64
rescuerid            object
videoamt              int64
description          object
petid                object
photoamt            float64
adoptionspeed         int64
breed1_name          object
breed2_name          object
color1_name          object
color2_name          object
color3_name          object
StateID               int64
StateName            object
dtype: object

In [53]:
add_state_df.drop(['StateID'], axis=1,inplace = True)
add_state_df.rename(columns = {'StateName':'state_name'},inplace = True)

In [54]:
add_state_df.isnull().sum()

type_left_breed1        0
name                 1257
age                     0
breed1                  0
breed2                  0
gender                  0
color1                  0
color2                  0
color3                  0
maturitysize            0
furlength               0
vaccinated              0
dewormed                0
sterilized              0
health                  0
quantity                0
fee                     0
state                   0
rescuerid               0
videoamt                0
description            12
petid                   0
photoamt                0
adoptionspeed           0
breed1_name             5
breed2_name         10762
color1_name             0
color2_name          4471
color3_name         10604
state_name              0
dtype: int64

In [55]:
add_state_df[add_state_df.breed1_name.isnull() == True]

,type_left_breed1,name,age,breed1,breed2,gender,color1,color2,color3,maturitysize,...,description,petid,photoamt,adoptionspeed,breed1_name,breed2_name,color1_name,color2_name,color3_name,state_name
391,1,Lil Milo,2,0,26,2,2,0,0,2,...,Milo went missing after a week with her new ad...,375905770,3.0,3,NaN,Belgian Shepherd Malinois,Brown,NaN,NaN,Selangor
1045,1,Bella 4 Months Puppy!,4,0,307,2,2,3,0,2,...,"She's only 4 months old, very friendly and lov...",da8d4a273,5.0,4,NaN,Mixed Breed,Brown,Golden,NaN,Selangor
3219,2,NaN,3,0,266,3,1,4,7,1,...,Mama cat came to house and gave birth to these...,27e74e45c,11.0,2,NaN,Domestic Short Hair,Black,Yellow,White,Kuala Lumpur
7285,1,"""Boy Boy""",72,0,307,1,1,2,0,2,...,He is a stray dog found wandering around Unive...,7b5bee232,5.0,4,NaN,Mixed Breed,Black,Brown,NaN,Selangor
7706,1,Looking Newborn Puppy For Adoption,2,0,205,2,2,5,7,1,...,I want to adopt a newborn puppy Prefer small b...,0327b8e94,0.0,3,NaN,Shih Tzu,Brown,Cream,White,Johor

In [56]:
add_state_df[add_state_df.breed1_name.isnull() == True]

,type_left_breed1,name,age,breed1,breed2,gender,color1,color2,color3,maturitysize,...,description,petid,photoamt,adoptionspeed,breed1_name,breed2_name,color1_name,color2_name,color3_name,state_name
391,1,Lil Milo,2,0,26,2,2,0,0,2,...,Milo went missing after a week with her new ad...,375905770,3.0,3,NaN,Belgian Shepherd Malinois,Brown,NaN,NaN,Selangor
1045,1,Bella 4 Months Puppy!,4,0,307,2,2,3,0,2,...,"She's only 4 months old, very friendly and lov...",da8d4a273,5.0,4,NaN,Mixed Breed,Brown,Golden,NaN,Selangor
3219,2,NaN,3,0,266,3,1,4,7,1,...,Mama cat came to house and gave birth to these...,27e74e45c,11.0,2,NaN,Domestic Short Hair,Black,Yellow,White,Kuala Lumpur
7285,1,"""Boy Boy""",72,0,307,1,1,2,0,2,...,He is a stray dog found wandering around Unive...,7b5bee232,5.0,4,NaN,Mixed Breed,Black,Brown,NaN,Selangor
7706,1,Looking Newborn Puppy For Adoption,2,0,205,2,2,5,7,1,...,I want to adopt a newborn puppy Prefer small b...,0327b8e94,0.0,3,NaN,Shih Tzu,Brown,Cream,White,Johor